h1{
  font: 24pt/1.5 monospace;
  font-family: sans-serif;
  color: #27a9e1;
  font-weight: bold;
  margin: 10 px;
  padding: 10 px;
  background: #e6e7e8;
  height: 50 px;
}

h2{
  font: 16pt/1.5 monospace;
  font-family: sans-serif;
  color: #2e3092;
  margin: 1 em;
  padding: 1 em;
  height: 50 px;
  line-height: 2;
  display: inline-block;
}

h3{
  font: 14pt/1.5 monospace;
  font-family: sans-serif;
  color: #1b75bb;
  margin: 10 px;
  padding: 1 em;
  height: 50 px;
}

p, ol, ul{
  font: 12pt/1.5 monospace;
  font-family: sans-serif;
  color: #231f20;
  margin: 10 px;
  padding: 1 em;
  height: 50 px;
  line-height: 1.2;
}


div {
  font: 12pt/1.5 monospace;
  font-family: sans-serif;
  color: #231f20;
  margin: 10 px;
  padding: 1 em;
  height: 50 px;
  line-height: 1.2;
}

#wrap {
    width: 800px;
    margin: 0 auto;
}

section {
    width: 600px;
    float: left;
}

aside{
    width: 200px;
    float: right;
}




a:link{
  text-decoration: none;
  font: 14pt/1.5 monospace;
  color: #f05a28;
  font-family: sans-serif;
}
a:visited{
  color: #fbaf3f;
  font-family: sans-serif;
}
a:hover{
  color: #f7931d;
  font-family: sans-serif;
}
a:active{
  color: #f05a28;
  font-family: sans-serif;
}

input[type=text]{
  border: 1.5px solid black;
  background: gray;
}

input[type=date]{
  border: 1.5px solid black;
  background: gray;
}

input[type=email]{
  border: 1.5px solid black;
  background: gray;
}

.btn-inverse{
  font-size: 16px;
  padding: 0.5em 1em;
  outline: 0;
}
.btn-inverse{
  background: #333;
  color: #ccc;
}


